// fonts
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Roboto&display=swap');




// colors
$blue: #2980B9;
$red: #E74C3C;
$dark_blue:#2C3E50;
$white: #ecf0f1;
$body-color:$white;
$navbar-light-color:$white;
$navbar-light-hover-color:$blue;
$navbar-light-active-color: $red;
$block-color:dark_blue;

// font
$font-family-sans-serif: 'Permanent Marker',
cursive;
$font-family-monospace: 'Roboto',
sans-serif;
$font-family-base: $font-family-sans-serif;


.jumbotron {
  width: 100%;
  height: 500px;
  background: url('../images/vader_hadrian_flip_blur.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin-bottom: 0rem;
  padding-top: 0%;
}

body {
  background: linear-gradient($red, $dark_blue);
  margin-left: 2em;
}


.card-body {
  background-color: $dark_blue;
}



.row {
  margin: 1em;

}

.col {
  margin-right: 1em;
}




#jerry {
  background-image: url('../images/gerry_looking_blur.jpg');
  background-repeat: no-repeat;
  background-position: left;
  // background-size: cover;
  // background-attachment: fixed;
}


p {
  padding: 1em;
}

.page-footer {
  margin-top: 10rem;
}

@import "scss/bootstrap";